# Приложение

SECRET='your-secret-123'
PORT=4444

# База данных (mongoDB)

MONGO_USER=username
MONGO_PASSWORD=SecretPassword 
MONGO_CLUSTER=XXXXXX.XXXXXX.mongodb.net
MONGO_DATABASE=blog

# Telegram

TELEGRAM_BOT_TOKEN=123123123:AWDawdwdadwawDawdawdAWDawdawdawdawd
TELEGRAM_CHAT_ID=213123123123